html, body {
  height: 100%;
  /*overflow: hidden;*/
}

body {
  margin: 0;
  background-color: #607D8B;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#sketch-holder {
  background: #37474F;
  height: 100%;
  min-height: 800px;
  width: 40%;
  max-width: 450px;
  min-width: 375px;
  box-shadow: 0 0 20px rgba(0,0,0,.40);
}

#canvas-place {
  transform: translateY(10%);
}

#score {
  width: 100%;
  background-color: #435761;
  color: #B0BEC5;
  transform: translateY(50%);
  padding: 5px 0;
  text-align: center;
  font-size: 50px;
  margin: 50px 0 0 0;
  font-family: "Roboto Light", sans-serif;
}

#control-buttons {
  width: 40%;
  max-width: 450px;
  min-width: 375px;
  height: 14%;
  position: fixed;
  bottom: 0;
}

#control-buttons button {
  float: left;
  text-align: center;
  font-size: 175%;
  width: 50%;
  height: 100%;
  outline: none !important;
  background-color: #435761;
  border: none;
  color: #B0BEC5;
  font-family: "Roboto Light", sans-serif;
}

#jump-in {
  border-top: 2px #B0BEC5 solid !important;
  border-right: 2px #B0BEC5 solid !important;
}

#jump-out {
  border-top: 2px #B0BEC5 solid !important;
}

#reset {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  margin: 30px;
  font-size: 35px;
  border-radius: 100%;
  border: none;
  color: #B0BEC5;
  background-color: #37474F;
  box-shadow: 0 0 9px rgba(0,0,0,.20);
  outline: none !important;
}
